<div class="container">
    <h3 mat-dialog-title>Add new address</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="formGroup">
  
     
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="description" formControlName="description" name="description" required ></textarea>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
    
  
      <div mat-dialog-actions>
        <!-- [type]="submit" -->
        <button mat-button   [disabled]="!formGroup.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>